<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cu.cs6156_order.mapper.OrderedDishesMapper">

    <resultMap id="BaseResultMap" type="edu.cu.cs6156_order.pojo.OrderedDish">
            <id property="dishId" column="dish_id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="orderedDishId" column="ordered_dish_id" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getAllByOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ordered_dishes
        where
        order_id = #{orderId,jdbcType=NUMERIC}
    </select>

        <sql id="Base_Column_List">
        dish_id,order_id,ordered_dish_id
    </sql>
    <insert id="insertBatch">
        insert into ordered_dishes(dish_id,order_id,ordered_dish_id)
        values
        <foreach collection="orderedDishCollection" item="item" separator=",">
            (#{item.dishId,jdbcType=NUMERIC},#{item.orderId,jdbcType=NUMERIC},#{item.orderedDishId,jdbcType=NUMERIC})
        </foreach>
    </insert>
</mapper>
